<!doctype html>
<html lang="en">
    <head>
	<meta charset="UTF-8"/>
	<title>Document</title>
	<style>* { margin:0; padding:0; }</style>
    </head>
    <body>
	<div id="webcam"></div>
	<script type="text/javascript">
	(function () {
	    var imageNr = 0;
	    var paused = false;
	    createImageLayer();

	    function createImageLayer(ipAddress, port) {
		var img = new Image();
		img.style.position = "absolute";
		img.style.zIndex = -1;
		img.onload = imageOnload;
		var host = location.href.split('/').slice(0, 3).join('/');
		img.src = host + "/snapshot?type={{type}}/" + (++imageNr);
		var webcam = document.getElementById("webcam");
		webcam.insertBefore(img, webcam.firstChild);
	    }

	    function imageOnload() {
		var finished;
		this.style.zIndex = imageNr;
		while (this.nextSibling) {
		    this.parentNode.removeChild(this.nextSibling);
		}
		if (!paused) createImageLayer();
	    }
	    function imageOnclick() {
		paused = !paused;
		if (!paused) createImageLayer();
	    }
	})();
	</script>
    </body>
</html>
